html, body{
  height: 100%;
  margin: 0;
  /*background: #84ACCE;*/
  font-family: 'Open Sans Condensed', sans-serif;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr;
}
.wrapper2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 10%;
}
.wrapper3{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr 1fr 1fr;
}



/*==========================SIDE BAR================================*/
.container-sidebar{
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-auto-rows: minmax(110px, auto);
	background: white;
  height: 805px;
}

.side-bar{
	background: #004E64;
}



.img-logo{
	background-image: url(../lib/logo.png);
	background-size: cover;
	background-position: 0 140px;
}
#logo-link{
  position: relative;
}

#logo-link > a{
  width: 100%;
  height: 100%;
  height: 129px;
  position: absolute;
  top: 0;
  left: 0;
}

/*=====================NAV===================*/

.navigation ul {
  font: bold 26px 'Montserrat', sans-serif;
  margin: 0;
  padding-left: 0px;
  white-space: nowrap;
}

.navigation li {
  position: relative;
  display: block;

  padding: 25px 10px 20px 10px;

}

.navigation a {
  display: block;
  text-align: center;
  background: #999;
  background: radial-gradient(#9FFFCB, #00A6A6);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
}

.navigation a:hover{
  background #314b60;
  box-shadow: inset 0 2px 30px 10px rgba(0, 0, 0, 0.3);
}

/*=========================MAIN CONTENT==========================*/
.container-content{
	display: grid;
	grid-template-columns: 1fr 2fr 3fr;
	grid-auto-rows: 340px 170px 260px;
	/*grid-gap: 1em;*/
	padding: 1em;
}

.topText{
	align-self: end;
}
.topText > h1{
	font-size: 130px;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 195px;
	text-align: center;
	color: white;
  text-shadow: 7px 4px 12px rgb(0, 0, 0);
}
.bottomText > h1{
	font-size: 130px;
	margin-top: -36px;
	margin-left: 182px;
	text-align: center;
	color: white;
	z-index: 100;
  text-shadow: 7px 4px 12px rgb(0, 0, 0);
}
#img1{
	background-image: url(../lib/img1.jpg);
	background-size:cover;
	background-position: center;
}
#img2{
	background-image: url(../lib/img22.jpg);
	background-size:cover;
	background-position: center;
}
#img3{
	background-image: url(../lib/img31.jpg);
	background-size:cover;
	background-position: center;
}


#img4{
	background-image: url(../lib/img4.jpg);
	background-size:cover;
	background-position: 0 550px;
	grid-row: 2;
	grid-column: 1/4;
	border-top: 10px solid white;
}

#img5{
	background-image: url(../lib/img5.jpg);
	background-size:cover;
	background-position: 0 300px;
	grid-row: 3;
	grid-column: 1/4;
	grid-auto-rows: 100px;
	/*height: 75px;*/
}

#page-content{
	grid-column: 2;
	grid-row: 1/6;
}



/*====================PROFILE PAGE=================*/

.profile-content{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 130px 620px;
	grid-gap: 1em;
	padding: 1em;
  font-family: 'Montserrat', sans-serif;
}

.profile-content > div:nth-child(2){
	background: #519E8A;
}
.profile-content > div:nth-child(3){
	/*background: rgba(40,120,40,0.5);*/
}
#profile-header{
	grid-column: 1/3;
	grid-row: 1;
  text-align: center;
  font-size: 2em;
}

#profile-header h1{
  margin: 20px auto;
  text-transform: uppercase;
  text-decoration: underline;
  color: #004E64;
}

.wrapper4{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: 2em;

}

#profile-content{
  grid-column: 1/4;
  grid-row: 2;
  grid-gap: .7em;
}
.profile-style{
  border: 2px solid black;

}

#profile1{
  grid-column:1;
  grid-row: 1;
  background-image: url(../lib/IMG_20170426_160644681_HDR.jpg);
  background-size:cover;
  background-position: 0 420px;
}
#profile2{
  grid-column:2/4 ;
  grid-row:1 ;
  background: #FFCC00;
}
#profile2 h3{
  font: bold 34px 'Montserrat', sans-serif;
  padding-left: 20px;
  margin: 5px 0 10px 0;
}
#profile2 li{
  font-size: 24px;
  display: inline-block;
  padding-left: 10px;
  line-height: 40px;
}

#profile2 li::before{
  content: '\f138 ';
  font-family: FontAwesome;
  padding-right: 10px;
}
#profile3{
  grid-column: 1/3;
  grid-row: 2;
  background: #FFCC00;

}
#profile3 h3{
  font: bold 34px 'Montserrat', sans-serif;
  padding-right: 20px;
  margin: 5px 0 10px 0;
}

#profile3 li{
  font-size: 24px;
  display: inline-block;
  /*padding-right: 10px;*/
  line-height: 40px;
}

#profile3 li::after{
  content: '\f137 ';
  font-family: FontAwesome;
  padding-left: 10px;

}

#profile4{
  grid-column: 3/4;
  grid-row: 2;
  background-image: url(../lib/IMG_20170716_174238702_HDR.jpg);
  background-size:cover;
  background-position: center;
}
#profile5{
  grid-column:1/2 ;
  grid-row: 3;
  background-image: url(../lib/PA300002.JPG);
  background-size:cover;
  background-position: center;
}
#profile6{
  grid-column: 2/4;
  grid-row: 3;
  background: #FFCC00;
}
#profile6 h3{
  font: bold 34px 'Montserrat', sans-serif;
  padding-left: 20px;
  margin: 5px 0 10px 0;
}
#profile6 li{
  font-size: 24px;
  display: inline-block;
  padding-left: 10px;
  line-height: 40px;
}

#profile6 li::before{
  content: '\f138 ';
  font-family: FontAwesome;
  padding-right: 10px;
}
/*=======================Contact ===========================*/
.vision-content{
  display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 130px 620px;
	grid-gap: 1em;
	padding: 1em;
  font-family: 'Montserrat', sans-serif;
}

.contact-content{
  display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 130px 620px;
	grid-gap: 1em;
	padding: 1em;
  font-family: 'Montserrat', sans-serif;
}
.contact-content h1{
  text-align: right;
  text-transform: uppercase;
  text-decoration: underline;
  color: #004E64;
}
.wrapper5{
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr 1fr;
  grid-gap: 2em;
}

#contact-header{
	grid-column: 1/3;
	grid-row: 1;
  text-align: center;
  font-size: 2em;
}

#contact-content{
  grid-column: 1/4;
  grid-row: 2;
  grid-gap: .7em;
}

/*====================CONTACT FORM================*/
form{
  border: 1px solid black;
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 550px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea,
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.account-info {

}

.social-icons{
  padding: 20px 0px 0 20px;
}
.account-info label {
  color: #395870;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 10px;
}
.col {
    float: left;
    width: 50%
}

.account-info textarea,
.account-info input {
  background: #fff;
  border: 1px solid #c6c7cc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  color: #636466;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
  width: 220px;
}

.text-area{
  height: 120px;
}

.form-submit .submit-button{
  background: linear-gradient(#49708f, #293f50);
  border: 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  float: right;
  padding: 8px 10px;
}
.form-submit{
  padding-right: 95px;
}

iframe{
  height: 600px;
  width: 550px;
}

.account-info i{
  font-size: 50px;
  padding: 10px 35px 10px 35px
}

.social-media{
  padding-top: 70px;
}

.fa-facebook{
  color: #3b5998;
}
.fa-linkedin-square{
  color: #0077b5;
}
.fa-github-square{
  color: #4078c0;
}
.fa-codepen{
  color: #212121;
}
/*=================Vision==============*/
.wrapper6{
  grid-column: 1/4;
  display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr 1fr 1fr;
  grid-gap: .5em;
  font-size: 42px;
}

.vision-content{
    background-color: #ccc;
}

.vision-content h1{
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  color: #004E64;
}

@keyframes vision1 {
  0%  {top: 0px;}
  50% {top: 80px;}
  100% {top: 0px;}
}
#vision1:hover{
  animation-timing-function: linear;
  position: relative;
  animation-name: vision1;
  animation-duration: 1s;
  animation: vision2 1s linear;
}

#vision1{
  border: 5px solid black;
  border-radius: 50%;
  text-align: center;
  width: 550px;
  justify-self: center;
  background-color: #82D4BB;

}

@keyframes vision2 {
  0%  {top: 0px;}
  50% {top: 80px;}
  100% {top: 0px;}
}
#vision2:hover{
  animation-timing-function: linear;
  position: relative;
  animation-name: vision2;
  animation-duration: 1s;
}

#vision2{
  border: 5px solid black;
  border-radius: 50%;
  text-align: center;
  width: 550px;
  justify-self: center;
  background-color: #8E8DBE;
}

@keyframes vision3 {
  0%  {top: 0px;;}
  50% {top: -80px;}
  100% {top: 0px;}
}
#vision3:hover{
  animation-timing-function: linear;
  position: relative;
  animation-name: vision3;
  animation-duration: 1s;
}


#vision3{
  border: 5px solid black;
  border-radius: 50%;
  text-align: center;
  width: 550px;
  justify-self: center;
  background-color: #A9E4EF;

}
/*=============Shape Style==================*/
#shape1{
	grid-column: 1;
	grid-row: 1/3;
	background: #006495;
  border-radius: 70px 0 0 0;
}
#shape2{
	grid-column: 2;
	grid-row: 1/2;
	background: #f2635f;
}
#shape3{
	grid-column: 3/5;
	grid-row: 1;
	background: #004c70;
  border-radius: 0 70px 0 0;
}
#shape4{
	grid-column: 2/4;
	grid-row: 2;
	background: #005A04;
}
#shape5{
	grid-column: 4;
	grid-row: 2/4;
	background: #e0a025;
  border-radius: 0 0 70px 0;

}
#shape6{
	grid-column: 1/3;
	grid-row: 3;
	background: #f4d00c;
  border-radius: 0 0 0 70px;

}
#shape7{
	grid-column: 3/4;
	grid-row: 3;
	background: #0093d1;
}

#shape8{
	grid-column: 1;
	grid-row: 1/3;
	background: #fa006f;
}
#shape9{
	grid-column: 2;
	grid-row: 1/2;
	background: #fa6d6f;
}
#shape10{
	grid-column: 3/5;
	grid-row: 1;
	background: #fa8f6f;
}
#shape11{
	grid-column: 2/4;
	grid-row: 2;
	background: #66C7F4;
}
#shape12{
	grid-column: 4;
	grid-row: 2/4;
	background: #fadb6f;
}
#shape13{
	grid-column: 1/3;
	grid-row: 3;
	background: #d03434;
}
#shape14{
	grid-column: 3/4;
	grid-row: 3;
	background: #fab96f;;
}
